{% extends "blog/base.html" %}
{% block content %}
    <article class="grid-item">
        <h2>Cancún</h2>
        <img src="cancun.jpg" alt="Cancún">
        <p>Cancún es un destino turístico en la costa del Caribe mexicano, conocido por sus playas de arena blanca y aguas cristalinas.</p>
    </article>
    <article class="grid-item">
        <h2>La Paz</h2>
        <img src="lapaz.jpg" alt="La Paz">
        <p>La Paz es la capital del estado de Baja California Sur y ofrece hermosas playas, deportes acuáticos y vida marina diversa.</p>
    </article>
    <article class="grid-item">
        <h2>Guadalajara</h2>
        <img src="guadalajara.jpg" alt="Guadalajara">
        <p>Guadalajara es la segunda ciudad más grande de México y es famosa por su cultura, mariachi, tequila y gastronomía.</p>
    </article>

{% endblock content %}

